.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.page {
    display: flex;
    padding: 50px;
    justify-content:center;
    align-items: center;
    border: solid;
    width: 50%;
}

#entryresults{
    position: relateive;
}
header{
    text-align: center;
}

#results{
    height: 100vh;
}

#blackresults {
    background-color: gray;
    height: 150px;
}

#whiteresults{
    border: solid;
    height: fit-content;
}
#whitetext{
    color : white;
}

