#page {
    display: flex;
    justify-content:center;
    align-items: center;
}

#results{
    height: 100vh;
}

#blackresults {
    background-color: gray;
    height: 150px;
}

#whiteresults{
    border: solid;
    height: fit-content;
}
#whitetext{
    color : white;
}

